.course-card{
    /* background-color: var(--dark-green) !important; */
    border-radius: 30px !important;
    line-height: 1 !important;
    overflow: hidden;
    border: 1px solid #037c5a !important;
    /* color: #fff !important; */
    padding: 10px;
}
.course-card-header{
    min-height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--bg-v5-green);
    background: url('../images/low-poly-grid-haikei.svg') no-repeat center;
    background-size: cover;
    justify-content: center;
    border-radius: 30px;
}

.course-card-header .course-icon{
    width: 80px;
    height: 80px;
}
.course-card-body{
    padding:  20px 10px;
    margin-top: 40px;
    /* background-color: var(--dark-green); */
}
.course-card-body [class*="bi-"]{
    color: rgb(1, 85, 61);
    background-color: #15d49e72;
    padding: 10px;
    border-radius: 10px;

}
