.course-hero{
    background-color:var(--bg-v5-green) ;
    min-height: 100vh;
    margin-bottom: 100px;
}
.batch{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-color);
}
.course-highlight-left, .course-highlight-right{
    background-color: var(--green-light-color);
    min-height: 200px;
}
.course-hero-video{
    background: url('../images/course-bg.svg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.video-container{
    width: 300px;
    height: 500px;
    position: relative;
}
.video-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.play-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-green-color);
    position: absolute;
    z-index: 10;
    border-radius: 100px;
    background: #fff;
    top: 40%;
    left: 40%;
}
.main-lan-container{
    border-radius: 30px;
}
@media (max-width:768px){
    .course-hero-video{
        min-height: fit-content;
    }
}