
  .youtube-container{
    background-color: var(--light-color);
    padding: 30px 10px;
  }
.youtube-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 100%;
    word-break: inherit;
    border-radius: 50px;
    margin-bottom: 45px;
}
.youtube-header{
    position: relative !important;
    height: 250px !important;
    padding: 20px;
}
/* .youtube-header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(#00000037, #13000463);
} */
.youtube-header .youtube-play-btn{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube-body{
    padding: 10px;
}
.youtube-play-btn .play-icon{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.youtube-header img{
    border-radius: 40px;
}
.youtube-footer{
    min-height: 100px;
    background-color: var(--green-light-color);
    position: relative;
    border-radius: 50px;
}
.youtube-footer::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    bottom: -18px;
    left: 40%;
    transform: rotate(30deg);
    background-color: var(--green-light-color);
}