@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Barcode+39+Extended+Text&family=Libre+Franklin&family=Noto+Sans:wght@300&family=Nunito:wght@500&family=Poppins:wght@400;500;800&family=Press+Start+2P&family=Rubik&family=Tilt+Prism&family=Wallpoet&family=Work+Sans:wght@300&display=swap');

*{
  font-family: 'Nunito', sans-serif !important;
}

:root{
  --light-color: #d6f6ea;
  --tw-shadow-color: rgba(255,213,0,.5)!important;
  --tw-shadow-green-color: rgb(45 248 197/0.5)!important;
  --tw-shadow: var(--tw-shadow-colored)!important;
  --tw-ring-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --text-black:rgb(0 0 0/1);
  --dim-black:#050505;
  --tw-text-opacity: 1!important;
  --btn-shadow: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color)!important;
  --green-shadow: 5px 5px 15px -3px var(--tw-shadow-green-color),4px 4px 6px -4px var(--tw-shadow-green-color)!important;
  --green-light-color: rgb(45 248 197/1)!important;
  --green-main-color: #018060!important;
  --yellow-color:#ffd500;
  --dark-green: rgb(2, 38, 40)!important;
  --hero-dark-green:#063435!important;
  --bg-v5-green:rgb(0 66 70/1)!important;
  --gold:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.bg-v5-green-700 {
  /* --tw-bg-opacity: 1 !important; */
  background-color: rgb(1 52 55/1)!important;
}
.devider{
  display: block !important;
  height: 3px;
  width: 100%;
  background-color: var(--green-main-color);
}
.bg-light{
  background: var(--light-color) !important;
}
.bg-light-green{
  background: var(--green-light-color) !important;
}
.bg-dark-v5-green{
  background: var(--bg-v5-green) !important;
}
.bg-dark-green{
  background: var(--dark-green) !important;
}
.bg-main-green{
  background-color: var(--green-main-color);
}


.light-green-text{
  color: var(--green-light-color) !important;
}
.text-main{
  color:var(--yellow-color)
}
.text-green{
  color:var(--green-main-color) !important;
}
.text-light-green{
  color:var(--green-light-color) !important;
}

/* all text styles  */
.heading{
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(0 0 0/var(--tw-text-opacity))!important;
}
.course-heading{
  font-size: 2.5rem;
  font-weight: 700;
    color: rgb(0 0 0/var(--tw-text-opacity))!important;
}
.heading-small{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(0 0 0/var(--tw-text-opacity));
}
.card-heading{
  font-size: 1.5rem;
  color: rgb(0 0 0/var(--tw-text-opacity));
}
.text-900{
  font-weight: 900;
}
.bg-blue{
  background-color: #dbe9ff;
}
.heading-subtitle{
    font-size: 1.3rem;
    color: #6b6b6b;
}
.banner-heading{
    color: var(--text-black);
    font-size: 2rem;
    line-height: 1.375!important;
    font-weight: 600!important;
    width: 100%;
    text-align: center;
    text-transform: capitalize !important;
    padding: 10px 0;
    margin-top: 30px;
}
.p-dark-small{
  color: var(--text-black);
  font-size: 1rem;
}
.p-light-small{
    color: #6b6b6b;
    font-size: 1rem;
}
.p-light-large{
  color: #6b6b6b;
  font-size: 2rem;
}
.p-dark-large1{
  font-size: 1.2rem;
}
.text-main-small{

}
.text-main-large{

}
.btn-main{
    border: none;
    padding: 15px 20px;
    color: #000;
    background-color: #ffd500;
    font-size: 1.5rem;
    box-shadow: var(--btn-shadow);
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    white-space: nowrap;
    font-weight: 600;
    text-transform: capitalize;
}
.btn-main:hover{
  /* transform: scale(0.9) !important; */
  opacity: 0.8 !important;
}
.btn-main-outline-dark, .btn-main-outline-light{
  border: none;
  border: 2px solid rgb(0 0 0/1);
  padding: 15px 20px;
  color: rgb(0 0 0/1);
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 10px;
}
.btn-main-outline-light{
  border: 2px solid #fff;
  color: #fff;
}
[class*="btn-main-outline"]:hover{
  background-color: #058425 !important;
  opacity: 0.8;
}
@media (max-width:800px){
.heading{
  font-size: 3rem;

}
.heading-small{
font-size: 1.2rem;

}
.heading-subtitle{
  font-size: 1.2rem;
}
.banner-heading{
  font-size:1.3rem;
}
.p-dark-small{
font-size: 0.9rem;
}
.p-light-small{
  font-size: 1rem;
}
.p-light-large{
font-size: 1.5rem;
}
.text-main-small{

}
.text-main-large{

}
.btn-main, .btn-main-outline-dark, .btn-main-outline-light{
  font-size: 1.2rem;
}
}
@media (max-width:600px){
  .hero-btn{
    min-width: 100%;
    margin-bottom: 10px;
  }
  .heading{
    font-size: 2.5rem;
  
  }
  .heading-small{
  font-size: 1.2rem;
  
  }
  .heading-subtitle{
    font-size: 1.1rem;
  }
  .banner-heading{
    font-size:1.3rem;
  }
  .p-dark-small{
  font-size: 0.9rem;
  }
  .p-light-small{
    font-size: 0.9rem;
  }
  .p-light-large{
  font-size: 1.5rem;
  }
  .text-main-small{
  
  }
  .text-main-large{
  
  }
  .btn-main, .btn-main-outline-dark, .btn-main-outline-light{
    font-size: 1.2rem;
  }
  }


  .scroll-progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #01443e;
    z-index: 9999;
  }
  
  .scroll-progress {
    height: 100%;
    background-color: #ebff12; /* Change the color to your desired color */
    transition: width 0.3s ease-in-out;
  }
  .carousel-indicators [data-bs-target]{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000000 I !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }

  /* loader  */
  .loading-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border */
    border-top: 4px solid #007bff; /* Blue border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .eater-container{
    width: 200px;
    height: 200px;
    background: url('./images/Eat-loading.svg') no-repeat center;
    background-size: cover;
  }
